﻿@model PagedList.IPagedList<string>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "GenerateOutput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GenerateOutput</h2>
@using (Html.BeginForm("GenerateOutput", "FizzBuzz", FormMethod.Get))
{
    <div>
        <table class="table" id="contentData">
            <tbody>
                @foreach (var element in Model)
                {

                    <tr>
                        <td colspan="2">

                            @if (@Html.DisplayFor(m => element).ToString().Equals("Fizz"))
                            {
                                <div style="color: blue">@Html.DisplayFor(m => element)</div>

                            }
                            else if (@Html.DisplayFor(m => element).ToString().Equals("Buzz"))
                            {
                                <div style="color: green">@Html.DisplayFor(m => element)</div>

                            }
                            else
                            {
                                <div>@Html.DisplayFor(m => element)</div>

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pagedList">
        @Html.PagedListPager(Model, page => Url.Action("GenerateOutput", new RouteValueDictionary(){ {"Page", page },

}),
PagedListRenderOptions.PageNumbersOnly)
    </div>
}

@section Script
{
    @Scripts.Render("~/bundles/jqueryval")

}