﻿@model TestSamJabinaJB.Models.FizzBuzzModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm("GenerateOutput", "FizzBuzz"))
{
    @Html.ValidationSummary(true)

    <fieldset>

        <table>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Limit)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Limit)
                        @Html.ValidationMessageFor(model => model.Limit)
                    </div>
                </td>
                <td>
                    <input type="submit" name="DisplayList" value="Display List" /></td>
            </tr>
        </table>
    </fieldset>
}

@section Script {
    @Scripts.Render("~/bundles/jqueryval")
}