﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.FizzClass {
    color: blue;
}

.BuzzClass {
    color: green;
}

.table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    background: #B4F114;
}

.active {
    background: red;
}
.numericButton
{
    background-color: #FFFFFF;
    color: #666666;
    border: 1px solid #C9C9C9;
    display: inline-block;
    height: 15px;
    line-height: 14px;
    min-width: 14px !important;
    padding: 4px;
    text-align: center;
    text-decoration: none;
}
.currentPageButton
{
    background-color: #686868;
    color: #fff !important;
    border: 1px solid #C9C9C9;
    display: inline-block;
    height: 15px;
    line-height: 14px;
    min-width: 14px !important;
    padding: 4px;
    text-align: center;
    text-decoration: none;
}
.nextbutton {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    color: #666666 !important;
    display: inline-block;
    height: 15px;
    line-height: 14px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    width: 55px;
}
#page_navigation{
    padding-top:8px;
}